<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ATM - LOGOWANIE</title>
</head>
<body>
<main class="main-content">
  <h2 class="list-heading">Zaloguj Się</h2>
  <form action="" th:action="@{/login}" method="post" class="mc-form">
    <p th:if="${param.error}"
       th:text="${session['SPRING_SECIURITY_LAST'].message}"
       class="mc-form-message">
      Błąd logowania.
    </p>
    <p th:if="${param.logout}" class="mc-form-message">
      Zostałeś wwylogowany, możesz zalogować sie ponownie.
    </p>
    <p class="registration-link">Niemasz jeszcze konta?<a href="#">Zarejestruj się</a></p>
    <label for="surname">Nazwisko</label>
    <input id="surname" name="username" placeholder="Nazwisko">
    <label for="pin">Pin</label>
    <input id="pin" name="password" placeholder="PIN" type="password">
    <button type="submit">Zaloguj Się</button>
  </form>
</main>
</body>
</html>